fastapi>=0.115.0
uvicorn>=0.30.6
pandas>=2.2.2
langchain-google-genai>=1.0.10
langchain>=0.2.16
python-dotenv>=1.0.1
python-multipart>=0.0.12
jinja2>=3.1.2
pytest>=8.3.3
aiofiles>=23.2.1            # for serving static files (used internally by FastAPI)
